---
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import JavaScript from "./icons/JavaScript.astro";
import ReactJS from "./icons/ReactJS.astro";
import TailwindCSS from "./icons/TailwindCSS.astro";
import NodeJS from "./icons/NodeJS.astro";
import SpringBoot from "./icons/SpringBoot.astro";
import Java from "./icons/Java.astro";
import MySQL from "./icons/MySQL.astro";
import Python from "./icons/Python.astro";
import AstroIcon from "./icons/Astro.astro";
import TypeScript from "./icons/TypeScript.astro";
import Git from "./icons/Git.astro";
import Github from "./icons/Github.astro";
import VSCode from "./icons/VSCode.astro";
import Npm from "./icons/Npm.astro";
---

<div class="grid lg:grid-cols-2 lg:grid-rows-2 gap-6 lg:place-content-center">
  <article
    class="bg-[radial-gradient(rgba(0,0,255,0.2),rgba(255,255,255,0))] dark:bg-[radial-gradient(rgba(0,0,255,0.2),rgba(255,255,255,0))] relative rounded-2xl p-6 dark:border dark:border-dark-900"
  >
    <h3
      class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#54fbff] to-[#00a4c9] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text text-transparent"
    >
      Frontend
    </h3><ul class="grid grid-cols-3 gap-4">
      <li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <HTML />
        <span class="text-sm w-full text-center">HTML</span>
      </li><li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <CSS />
        <span class="text-sm w-full text-center">CSS</span>
      </li><li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <JavaScript />
        <span class="text-sm w-full text-center">JavaScript</span>
      </li><li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <ReactJS /><span class="text-sm w-full text-center">ReactJS</span>
      </li><li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <TailwindCSS />
        <span class="text-sm w-full text-center">TailwindCSS</span>
      </li>
    </ul>
  </article>
  <article
    class="bg-[radial-gradient(rgba(0,0,255,0.2),rgba(255,255,255,0))] dark:bg-[radial-gradient(rgba(0,0,255,0.2),rgba(255,255,255,0))] relative rounded-2xl p-6 dark:border dark:border-dark-900"
  >
    <h3
      class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#94a3b8] to-[#1e293b] dark:from-[#f1f5f9] dark:to-[#64748b] bg-clip-text text-transparent"
    >
      Backend
    </h3><ul class="grid grid-cols-3 gap-4">
      <li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <NodeJS />
        <span class="text-sm w-full text-center">NodeJS</span>
      </li><li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <MySQL />
        <span class="text-sm w-full text-center">MySQL</span>
      </li>
      <li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <SpringBoot />
        <span class="text-sm w-full text-center">SpringBoot</span>
      </li><li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <Java />
        <span class="text-sm w-full text-center">Java</span>
      </li>
    </ul>
  </article><article
    class="bg-[radial-gradient(rgba(0,0,255,0.2),rgba(255,255,255,0))] dark:bg-[radial-gradient(rgba(0,0,255,0.2),rgba(255,255,255,0))] relative rounded-2xl p-6 dark:border dark:border-dark-900"
  >
    <h3
      class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#ffb272] to-[#ee4a08] dark:from-[#ffebd4] dark:to-[#fd6412] bg-clip-text text-transparent"
    >
      Aprendiendo
    </h3><ul class="grid grid-cols-3 gap-4">
      <li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <Python />
        <span class="text-sm w-full text-center">Python</span>
      </li><li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <AstroIcon />
        <span class="text-sm w-full text-center">Astro</span>
      </li><li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <TypeScript />
        <span class="text-sm w-full text-center">TypeScript</span>
      </li>
    </ul>
  </article><article
    class="bg-[radial-gradient(rgba(0,0,255,0.2),rgba(255,255,255,0))] dark:bg-[radial-gradient(rgba(0,0,255,0.2),rgba(255,255,255,0))] relative rounded-2xl p-6 dark:border dark:border-dark-900"
  >
    <h3
      class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#75dbff] to-[#0072ab] dark:from-[#def3ff] dark:to-[#00a8e8] bg-clip-text text-transparent"
    >
      Herramientas
    </h3><ul class="grid grid-cols-3 gap-4">
      <li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <Git />
        <span class="text-sm w-full text-center">Git</span>
      </li><li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <Github class="size-14 mb-2 md:size-12" />
        <span class="text-sm w-full text-center">GitHub</span>
      </li><li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <VSCode />
        <span class="text-sm w-full text-center">VSCode</span>
      </li><li
        class="rounded-2xl group flex flex-col fle justify-center items-center"
      >
        <Npm /><span class="text-sm w-full text-center">npm</span>
      </li>
    </ul>
  </article>
</div>
